/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: var(--font-family);
}

h1,
h2 {
    color: var(--gray-800);
    font-weight: 600;
    line-height: 1.5;
}

p,
a {
    color: var(--gray-600);
    font-size: var(--body-14);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}


/* Global Styles */

.container {
    max-width: 1140px;
    padding: 64px 15px;
    margin: 160px auto;
}

.btn {
    background-color: var(--primary);
    border-radius: 4px;
    color: var(--gray-100);
    display: inline-block;
    font-size: var(--body-14);
    padding: 18px 36px;
    transition: all 600ms;
}

.btn:hover {
    transform: translateY(-4px);
}

.flex {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    padding: 96px 0;
    text-align: center;
}

.title h1 {
    font-size: var(--heading-1);
}


/* Components */

.card-box {
    align-items: center;
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    background-color: var(--gray-100);
    padding: 48px 16px;
    text-align: center;
}

.card i {
    color: var(--primary);
    display: inline-block;
    font-size: var(--heading-4);
    padding-bottom: 32px;
}

.card h2 {
    font-size: var(--heading-6);
    padding-bottom: 18px;
}

.card p {
    max-width: 219px;
}


/* Menu */

nav {
    align-items: center;
    display: flex;
    height: 10vh;
    justify-content: space-around;
    position: absolute;
    left: 0;
    right: 0;
    transition: all .3s ease-in;
}

nav.sticky {
    background-color: var(--gray-100);
    box-shadow: 0 16px 20px rgba(0, 0, 0, .06);
    position: fixed;
    z-index: 1000;
}

.nav-list {
    display: flex;
}

.nav-list li {
    margin: 8px;
}

.nav-list li a {
    color: var(--gray-600);
    font-size: var(--body-14);
    padding: 8px;
    transition: all .3s;
}

.nav-list li a:hover {
    color: var(--primary);
}


/* Menu Mobile */

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 24px;
    height: 2px;
    margin: 8px;
    background-color: var(--gray-600);
    transition: .3s;
}


/* Social Media */

.social-media img {
    display: flex;
    margin: 8px;
}


/* Footer */

footer nav {
    flex-direction: column;
    justify-content: space-between !important;
}

footer ul {
    display: flex;
}

footer ul li {
    margin: 8px;
}

footer .copy {
    color: var(--gray-600);
    font-size: var(--body-14);
}


/* Animações Css */

.js-scroll {
    opacity: 0;
    transition: 0.6s;
    transform: translate3d(-60px, 0, 0);
}

.js-scroll.ativo {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line-1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line-2 {
    opacity: 0;
}

.mobile-menu.active .line-3 {
    transform: rotate(45deg) translate(-5px, -7px);
}