/* Tablet */

@media (max-width: 768px) {
    .container {
        padding: 64px 15px;
        margin: 0 auto;
        max-width: 690px;
    }
    .card-box {
        align-items: center;
        display: grid;
        justify-content: center;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
    .card {
        width: 330px;
    }
    .main-header,
    footer {
        max-width: 100%;
    }
    .hero h1 {
        max-width: 510px;
    }
    .about-us {
        grid-template-columns: 1fr;
    }
    .works-box {
        grid-template-columns: repeat(2, 1fr);
    }
    .testimonials h2 {
        max-width: 690px;
    }
    .contact {
        grid-template-columns: 1fr;
    }
}


/* Mobile */

@media (max-width: 375px) {
    body {
        overflow-x: hidden;
    }
    .container {
        padding: 64px 15px;
        margin: 96px auto;
        max-width: 346px;
    }
    .card-box {
        align-items: center;
        display: grid;
        justify-content: center;
        gap: 30px;
        grid-template-columns: 1fr;
    }
    .card {
        width: 346px;
    }
    .hero h1 {
        max-width: 510px;
    }
    .about-us {
        grid-template-columns: 1fr;
    }
    .works-box {
        grid-template-columns: 1fr;
    }
    .testimonials h2 {
        max-width: 346px;
    }
    .contact {
        grid-template-columns: 1fr;
    }
    .contact input,
    textarea {
        margin: 15px auto;
        width: 346px;
    }
    .contact-content .btn {
        width: 346px;
    }
}