/* Hero */

.hero {
    background: url('../img/hero-bg.jpg') no-repeat top center;
    background-size: cover;
    flex-direction: column;
    height: 90vh;
}

.hero h1 {
    font-size: var(--heading-1);
    padding: 48px 0;
    max-width: 730px;
    text-align: center;
}


/* About Us */

.about-us {
    align-items: center;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.about-us h1 {
    font-size: var(--heading-1);
    padding-bottom: 48px;
}

.about-us p {
    padding-bottom: 48px;
}


/* Works */

.works-box {
    align-items: center;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}


/* Contact */

.contact-box {
    align-items: center;
    display: flex;
    justify-content: center;
}

input,
textarea {
    background-color: var(--gray-100);
    border: 1px solid var(--gray-300);
    display: block;
    font-family: var(--font-family);
    margin: 15px 0;
    outline-color: var(--primary);
    padding: 16px;
    width: 730px;
}

#menssage {
    height: 160px;
}

.contact .btn {
    border: none;
    cursor: pointer;
    font-family: var(--font-family);
}